# Conhecendo a base

O diabetes é uma doença crônica grave na qual os indivíduos perdem a capacidade de regular efetivamente os níveis de glicose no sangue e pode levar a uma redução na qualidade de vida e na expectativa de vida.

O Sistema de Vigilância de Fatores de Risco Comportamentais (BRFSS) é uma pesquisa telefônica relacionada à saúde que é coletada anualmente pelo CDC (Centro de Controle e Prevenção de Doenças dos Estados Unidos). A cada ano, a pesquisa coleta respostas de milhares de americanos sobre comportamentos de risco relacionados à saúde, condições crônicas de saúde e o uso de serviços preventivos. Para este projeto, foi utilizado conjunto de dados disponível no Kaggle para o ano de 2015. 

https://www.kaggle.com/datasets/alexteboul/diabetes-health-indicators-dataset

Dicionário de variáveis:

- `Diabetes_binary`: 0 = sem diabetes, 1 = com diabetes
- `HighBP`: 0 = sem pressão alta, 1 = com pressão alta
- `HighChol`: 0 = sem colesterol alto, 1 = com colesterol alto
- `CholCheck`: 0 = não fez exame de colesterol na vida, 1 = fez exame de colesterol alguma vez
- `BMI`: Índice de Massa Corporal (IMC)
- `Smoker`: 0 = não fumante, 1 = fumante
- `Stroke`: 0 = sem histórico de AVC, 1 = com histórico de AVC
- `HeartDiseaseorAttack`: 0 = sem histórico de doença cardíaca ou ataque cardíaco, 1 = com histórico de doença cardíaca ou ataque cardíaco
- `PhysActivity`: 0 = não pratica atividade física, 1 = pratica atividade física
- `Fruits`: 0 = não consome frutas, 1 = consome frutas
- `Veggies`: 0 = não consome vegetais, 1 = consome vegetais
- `HvyAlcoholConsump`: 0 = não consome álcool em altas quantidades, 1 = consome álcool em altas quantidades
- `AnyHealthcare`: 0 = não tem plano de saúde, 1 = tem plano de saúde
- `NoDocbcCost`: 0 = não foi ao médico por questões financeiras, 1 = foi ao médico por questões financeiras (últimos 12 meses)
- `GenHlth`: Saúde geral (1 a 5) - 1 = Excelente, 2 = Muito boa, 3 = Boa, 4 = Aceitável, 5 = Ruim
- `MentHlth`: Nos últimos 30 dias, quantos dias a saúde mental não foi boa (0 a 30)
- `PhysHlth`: Nos últimos 30 dias, quantos dias a saúde física não foi boa (0 a 30)
- `DiffWalk`: 0 = não tem dificuldade para caminhar, 1 = tem dificuldade para caminhar
- `Sex`: 0 = feminino, 1 = masculino
- `Age`: Idade em faixas 1 = 18-24; 2 = 25-29; 3 = 30-34; 4 = 35-39; 5 = 40-44; 6 = 45-49; 7 = 50-54; 8 = 55-59; 9 = 60-64; 10 = 65-69; 11 = 70-74; 12 = 75-79; 13 = 80+
- `Education`: Níveis de ensino 1 = nunca frequentou a escola; 2 = escola primária; 3 = escola secundária incompleta ; 4 = escola secundária; 5 = faculdade incompleta ou curso técnico; 6 = completou faculdade ou diplomas superiores
- `Income`: Renda anual em faixas 1 = < 10.000; 2 = 10.000-14.999; 3 = 15.000-19.999; 4 = 20.000-24.999; 5 = 25.000-34.999; 6 = 35.000-49.999; 7 = 50.000-74.999; 8 = 75.000+

In [23]:
import pandas as pd
import seaborn as sns

from src.config import DADOS_ORIGINAIS, DADOS_TRATADOS 

pd.set_option ('display.max_columns', None)

pd.set_option('display.float_format', lambda x: '%.2f' % x)


df_diabetes = pd.read_csv(DADOS_ORIGINAIS, compression='zip')

df_diabetes.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.00,1.00,0.00,1.00,26.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,1.00,0.00,3.00,5.00,30.00,0.00,1.00,4.00,6.00,8.00
1,0.00,1.00,1.00,1.00,26.00,1.00,1.00,0.00,0.00,1.00,0.00,0.00,1.00,0.00,3.00,0.00,0.00,0.00,1.00,12.00,6.00,8.00
2,0.00,0.00,0.00,1.00,26.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,1.00,0.00,1.00,0.00,10.00,0.00,1.00,13.00,6.00,8.00
3,0.00,1.00,1.00,1.00,28.00,1.00,0.00,0.00,1.00,1.00,1.00,0.00,1.00,0.00,3.00,0.00,3.00,0.00,1.00,11.00,6.00,8.00
4,0.00,0.00,0.00,1.00,29.00,1.00,0.00,0.00,1.00,1.00,1.00,0.00,1.00,0.00,2.00,0.00,0.00,0.00,0.00,8.00,5.00,8.00

In [24]:
df_diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Diabetes_binary       70692 non-null  float64
 1   HighBP                70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   Stroke                70692 non-null  float64
 7   HeartDiseaseorAttack  70692 non-null  float64
 8   PhysActivity          70692 non-null  float64
 9   Fruits                70692 non-null  float64
 10  Veggies               70692 non-null  float64
 11  HvyAlcoholConsump     70692 non-null  float64
 12  AnyHealthcare         70692 non-null  float64
 13  NoDocbcCost           70692 non-null  float64
 14  GenHlth               70692 non-null  float64
 15  MentHlth              70692 non-null  float64
 16  PhysHlth              70692 non-null  float64
 17  DiffWalk              70692 non-null  float64
 18  Sex                   70692 non-null  float64
 19  Age                   70692 non-null  float64
 20  Education             70692 non-null  float64
 21  Income                70692 non-null  float64
dtypes: float64(22)
memory usage: 11.9 MB

In [25]:
df_diabetes.describe()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
count,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00,70692.00
mean,0.50,0.56,0.53,0.98,29.86,0.48,0.06,0.15,0.70,0.61,0.79,0.04,0.95,0.09,2.84,3.75,5.81,0.25,0.46,8.58,4.92,5.70
std,0.50,0.50,0.50,0.16,7.11,0.50,0.24,0.35,0.46,0.49,0.41,0.20,0.21,0.29,1.11,8.16,10.06,0.43,0.50,2.85,1.03,2.18
min,0.00,0.00,0.00,0.00,12.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00,1.00,1.00,1.00
25%,0.00,0.00,0.00,1.00,25.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,1.00,0.00,2.00,0.00,0.00,0.00,0.00,7.00,4.00,4.00
50%,0.50,1.00,1.00,1.00,29.00,0.00,0.00,0.00,1.00,1.00,1.00,0.00,1.00,0.00,3.00,0.00,0.00,0.00,0.00,9.00,5.00,6.00
75%,1.00,1.00,1.00,1.00,33.00,1.00,0.00,0.00,1.00,1.00,1.00,0.00,1.00,0.00,4.00,2.00,6.00,1.00,1.00,11.00,6.00,8.00
max,1.00,1.00,1.00,1.00,98.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,5.00,30.00,30.00,1.00,1.00,13.00,6.00,8.00

In [ ]:
Para facilitar a compreensão, na célula abaixo os nomes das colunas serão traduzidos.

In [4]:
df_diabetes.columns = [
    "Diabetes",
    "PressaoAlta",
    "ColesterolAlto",
    "ColesterolExame",
    "IMC",
    "Fumante",
    "AVC",
    "ProblemaCardiaco",
    "AtividadeFisica",
    "ComeFrutas",
    "ComeLegumes",
    "ConsumoBebidaAlcoolica",
    "PlanoSaude",
    "SemDinheiroConsultas",
    "SaudeGeral",
    "DiasProblemasMentais",
    "DiasProblemasFisicos",
    "DificuldadeAndar",
    "Genero",
    "FaixaIdade",
    "Ensino",
    "FaixaRenda",
]

In [26]:
df_diabetes.nunique()

Diabetes_binary          2
HighBP                   2
HighChol                 2
CholCheck                2
BMI                     80
Smoker                   2
Stroke                   2
HeartDiseaseorAttack     2
PhysActivity             2
Fruits                   2
Veggies                  2
HvyAlcoholConsump        2
AnyHealthcare            2
NoDocbcCost              2
GenHlth                  5
MentHlth                31
PhysHlth                31
DiffWalk                 2
Sex                      2
Age                     13
Education                6
Income                   8
dtype: int64

Com base nos valores acima, identificamos as colunas binárias e não binárias e vamos adequá-las como categóricas.  
Uma prática útil para otimizar tanto o uso de memória quanto a performance e ainda melhora o controle sobre os dados.

In [6]:
colunas_binarias = df_diabetes.nunique()[df_diabetes.nunique()==2].index.tolist() 
colunas_binarias

['Diabetes',
 'PressaoAlta',
 'ColesterolAlto',
 'ColesterolExame',
 'Fumante',
 'AVC',
 'ProblemaCardiaco',
 'AtividadeFisica',
 'ComeFrutas',
 'ComeLegumes',
 'ConsumoBebidaAlcoolica',
 'PlanoSaude',
 'SemDinheiroConsultas',
 'DificuldadeAndar',
 'Genero']

In [7]:
df_diabetes_tratado = df_diabetes.copy()

In [8]:
for coluna in colunas_binarias:
    if coluna != "Genero":
        df_diabetes_tratado[coluna] = pd.Categorical(df_diabetes_tratado[coluna]).rename_categories(['Não', "Sim"])
    else:
         df_diabetes_tratado[coluna] = pd.Categorical(df_diabetes_tratado[coluna]).rename_categories(['Masculino', "Feminino"])

In [9]:
 df_diabetes_tratado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Diabetes                70692 non-null  category
 1   PressaoAlta             70692 non-null  category
 2   ColesterolAlto          70692 non-null  category
 3   ColesterolExame         70692 non-null  category
 4   IMC                     70692 non-null  float64
 5   Fumante                 70692 non-null  category
 6   AVC                     70692 non-null  category
 7   ProblemaCardiaco        70692 non-null  category
 8   AtividadeFisica         70692 non-null  category
 9   ComeFrutas              70692 non-null  category
 10  ComeLegumes             70692 non-null  category
 11  ConsumoBebidaAlcoolica  70692 non-null  category
 12  PlanoSaude              70692 non-null  category
 13  SemDinheiroConsultas    70692 non-null  category
 14  SaudeGeral              70692 non-null  float64
 15  DiasProblemasMentais    70692 non-null  float64
 16  DiasProblemasFisicos    70692 non-null  float64
 17  DificuldadeAndar        70692 non-null  category
 18  Genero                  70692 non-null  category
 19  FaixaIdade              70692 non-null  float64
 20  Ensino                  70692 non-null  float64
 21  FaixaRenda              70692 non-null  float64
dtypes: category(15), float64(7)
memory usage: 4.8 MB

In [10]:
 df_diabetes_tratado.head()

,Diabetes,PressaoAlta,ColesterolAlto,ColesterolExame,IMC,Fumante,AVC,ProblemaCardiaco,AtividadeFisica,ComeFrutas,ComeLegumes,ConsumoBebidaAlcoolica,PlanoSaude,SemDinheiroConsultas,SaudeGeral,DiasProblemasMentais,DiasProblemasFisicos,DificuldadeAndar,Genero,FaixaIdade,Ensino,FaixaRenda
0,Não,Sim,Não,Sim,26.00,Não,Não,Não,Sim,Não,Sim,Não,Sim,Não,3.00,5.00,30.00,Não,Feminino,4.00,6.00,8.00
1,Não,Sim,Sim,Sim,26.00,Sim,Sim,Não,Não,Sim,Não,Não,Sim,Não,3.00,0.00,0.00,Não,Feminino,12.00,6.00,8.00
2,Não,Não,Não,Sim,26.00,Não,Não,Não,Sim,Sim,Sim,Não,Sim,Não,1.00,0.00,10.00,Não,Feminino,13.00,6.00,8.00
3,Não,Sim,Sim,Sim,28.00,Sim,Não,Não,Sim,Sim,Sim,Não,Sim,Não,3.00,0.00,3.00,Não,Feminino,11.00,6.00,8.00
4,Não,Não,Não,Sim,29.00,Sim,Não,Não,Sim,Sim,Sim,Não,Sim,Não,2.00,0.00,0.00,Não,Masculino,8.00,5.00,8.00

In [11]:
df_diabetes_tratado["SaudeGeral"] = pd.Categorical(
     df_diabetes_tratado["SaudeGeral"],
     ordered = True
 ).rename_categories(['Excelente', 'Muito boa', 'Boa', 'Aceitável', 'Ruim'])
df_diabetes_tratado["SaudeGeral"].value_counts()

SaudeGeral
Boa          23427
Muito boa    19872
Aceitável    13303
Excelente     8282
Ruim          5808
Name: count, dtype: int64

In [12]:
df_diabetes_tratado["SaudeGeral"].head()

0          Boa
1          Boa
2    Excelente
3          Boa
4    Muito boa
Name: SaudeGeral, dtype: category
Categories (5, object): ['Excelente' < 'Muito boa' < 'Boa' < 'Aceitável' < 'Ruim']

Age: Idade em faixas 1 = 18-24; 2 = 25-29; 3 = 30-34; 4 = 35-39; 5 = 40-44; 6 = 45-49; 7 = 50-54; 8 = 55-59; 9 = 60-64; 10 = 65-69; 11 = 70-74; 12 = 75-79; 13 = 80+
Education: Níveis de ensino 1 = nunca frequentou a escola; 2 = escola primária; 3 = escola secundária incompleta ; 4 = escola secundária; 5 = faculdade incompleta ou curso técnico; 6 = completou faculdade ou diplomas superiores
Income: Renda anual em faixas 1 = < 10.000; 2 = 10.000-14.999; 3 = 15.000-19.999; 4 = 20.000-24.999; 5 = 25.000-34.999; 6 = 35.000-49.999; 7 = 50.000-74.999; 8 = 75.000+

In [13]:
df_diabetes_tratado["FaixaIdade"] = pd.Categorical(
     df_diabetes_tratado["FaixaIdade"],
     ordered = True
 ).rename_categories(['18-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79', '80+'])
df_diabetes_tratado["FaixaIdade"].value_counts()

FaixaIdade
65-69    10856
60-64    10112
55-59     8603
70-74     8044
50-54     6872
80+       5426
75-79     5394
45-49     4648
40-44     3520
35-39     2793
30-34     2049
25-29     1396
18-24      979
Name: count, dtype: int64

In [14]:
df_diabetes_tratado["Ensino"] = pd.Categorical(
     df_diabetes_tratado["Ensino"],
     ordered = True
 ).rename_categories(['Sem estudo', 'Primário', 'Sec. inc', 'Secundário', 'Fac. inc ou Tec', 'Faculdade +'])
df_diabetes_tratado["Ensino"].value_counts()

Ensino
Faculdade +        26020
Fac. inc ou Tec    20030
Secundário         19473
Sec. inc            3447
Primário            1647
Sem estudo            75
Name: count, dtype: int64

In [15]:
df_diabetes_tratado["FaixaRenda"] = pd.Categorical(
     df_diabetes_tratado["FaixaRenda"],
     ordered = True
 ).rename_categories(['10.000', '10.000-14.999', '15.000-19.999', '20.000-24.999', '25.000-34.999', '35.000-49.999', '50.000-74.999', '75.000+'])
df_diabetes_tratado["FaixaRenda"].value_counts()

FaixaRenda
75.000+          20646
50.000-74.999    11425
35.000-49.999    10287
25.000-34.999     8010
20.000-24.999     6658
15.000-19.999     5557
10.000-14.999     4498
10.000            3611
Name: count, dtype: int64

In [16]:
df_diabetes_tratado.describe()

           IMC  DiasProblemasMentais  DiasProblemasFisicos
count 70692.00              70692.00              70692.00
mean     29.86                  3.75                  5.81
std       7.11                  8.16                 10.06
min      12.00                  0.00                  0.00
25%      25.00                  0.00                  0.00
50%      29.00                  0.00                  0.00
75%      33.00                  2.00                  6.00
max      98.00                 30.00                 30.00

In [17]:
df_diabetes_tratado.describe(exclude='number')

,Diabetes,PressaoAlta,ColesterolAlto,ColesterolExame,Fumante,AVC,ProblemaCardiaco,AtividadeFisica,ComeFrutas,ComeLegumes,ConsumoBebidaAlcoolica,PlanoSaude,SemDinheiroConsultas,SaudeGeral,DificuldadeAndar,Genero,FaixaIdade,Ensino,FaixaRenda
count,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692,70692
unique,2,2,2,2,2,2,2,2,2,2,2,2,2,5,2,2,13,6,8
top,Não,Sim,Sim,Sim,Não,Não,Não,Sim,Sim,Sim,Não,Sim,Não,Boa,Não,Masculino,65-69,Faculdade +,75.000+
freq,35346,39832,37163,68943,37094,66297,60243,49699,43249,55760,67672,67508,64053,23427,52826,38386,10856,26020,20646

In [18]:
colunas_numericas = df_diabetes_tratado.select_dtypes(include='number').columns.tolist()

In [19]:
for coluna in colunas_numericas:
    print(f'{df_diabetes_tratado[coluna].apply(float.is_integer).all()}')

True
True
True

In [20]:
for coluna in colunas_numericas:
    df_diabetes_tratado[coluna] = pd.to_numeric(
        df_diabetes_tratado[coluna], downcast='integer'
    )
df_diabetes_tratado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Diabetes                70692 non-null  category
 1   PressaoAlta             70692 non-null  category
 2   ColesterolAlto          70692 non-null  category
 3   ColesterolExame         70692 non-null  category
 4   IMC                     70692 non-null  int8
 5   Fumante                 70692 non-null  category
 6   AVC                     70692 non-null  category
 7   ProblemaCardiaco        70692 non-null  category
 8   AtividadeFisica         70692 non-null  category
 9   ComeFrutas              70692 non-null  category
 10  ComeLegumes             70692 non-null  category
 11  ConsumoBebidaAlcoolica  70692 non-null  category
 12  PlanoSaude              70692 non-null  category
 13  SemDinheiroConsultas    70692 non-null  category
 14  SaudeGeral              70692 non-null  category
 15  DiasProblemasMentais    70692 non-null  int8
 16  DiasProblemasFisicos    70692 non-null  int8
 17  DificuldadeAndar        70692 non-null  category
 18  Genero                  70692 non-null  category
 19  FaixaIdade              70692 non-null  category
 20  Ensino                  70692 non-null  category
 21  FaixaRenda              70692 non-null  category
dtypes: category(19), int8(3)
memory usage: 1.5 MB

Após o tratamento da base, foi feita a opção pelo formato .parquet, que têm compactação e descompressão altamente eficientes e mantém o tratamento feito.

In [21]:
df_diabetes_tratado.to_parquet(DADOS_TRATADOS, index = False)